{% extends 'base.html' %}

{% block content %}
    <h1>Edit Profile {{ user.username }}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}<br>
            {{ form.about_me }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <input type="submit" value="Save">
    </form>
{% endblock %}