{% load gravatar %}
{% load i18n %}
<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{% url 'user' username=post.user.username %}">
                <img src="{% gravatar_url post.user.email 70 %}">
            </a>
        </td>
        <td>
            <a href="{% url 'user' username=post.user.username %}">{{ post.user.username }}</a>
            {% blocktrans with ts=post.timestamp %}says at {{ ts }}:{% endblocktrans %}
            <br>
            {{ post.body }}
        </td>
    </tr>
</table>